*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.app {
    touch-action: pan-up;
}
.app canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}
body{
    background: url("/images/bg.jpg");
    
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(30, 30, 30);
} 
.highlight{
    color: yellow;
}
.sec2,.sec3{
    background-color: rgb(18, 15, 15);
    width: 90%;
    border-radius: 5px;
    margin: 15px auto;
}
/* HEADING */
.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.scroll{
    width: 100%;
    height: 3px;
    background-color: yellow;
    transform-origin: left;
    position: fixed;
    z-index: 5;
    top: 0;
    scale: 0 1;
    animation: scroll linear;
    animation-timeline: scroll();
}
@keyframes scroll {
    to{
        scale: 1 1;
    }
}
.burger{
    cursor: pointer;
    display: none;
    max-width: 40px;
    min-height: 5px;
    margin: 0 30px;
}
.burger .line{
    background-color: white;
    width: 25px;
    margin: 3px 0px;
    height: 5px;
}
.navbtn{
    padding: 0.5rem 0.5rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0rem 0.8rem;
    border-radius: 2px;
    font-weight: bold;
}
.navbtn:hover{
    transition: border 0.33s ease;
    border-bottom: 1px solid yellow;
}

.navleft{
    min-height: 40px;
    display: flex;
    align-items: center;
}
.navleft img{
    width: 6%;
    border-radius: 50%;
    margin: 0 0 0 20px;
    scale: 1.1;
}
.navleft img:hover{
    rotate: 5turn;
    transition: all 2s ease-in-out;
    cursor: pointer;
}
.navright{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    height: 80px;
    cursor: pointer;
    margin: 50px 50px 0 0;
}
.navright_mode i{
    font-size: 2rem;
}
#mode2{
    display: none;
}
.navright_cont{
    height: 35px;
    display: flex;
    overflow: hidden;
}
.navright_box{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.navright_box a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navright_box:hover {
    transition: all 0.5s ease;
    transform: translateY(-30px);
}

/* MAIN  */
.sec1_cont{
    display: flex;
    width: 100%;
    align-items: center;
    height: 30rem;
    justify-content: space-around;
}
.sec1{
    width: 100%;
    height: 100vh;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec1_left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animated_text{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    min-width: 30vw;
    border-bottom: 2px solid yellow;
    padding: 10px;
    width: 80%;
  }

.sec1_left p{
    margin-top: 5px;
    width: 80%;
    font-size: 20px;
    
  }
.sec1_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
    width: 60%;
  }
.animated_text span{
    position: relative;
  }
.animated_text span::before{
    content: '';
    color: yellow;
    animation: words 20s infinite;
    
  }
.animated_text span::after{
    content: '';
    background: url("/images/bg.jpg");
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid yellow;
    right: -8px;
    animation: cursor .8s infinite ,typing 20s steps(14) infinite;

  }
  @keyframes cursor {
    to{
      border-left: 2px solid transparent;
    }
  }
  @keyframes words {
    0%,20%{
      content: 'Frontend-Dev';
    }
    21%,40%{
      content: 'Coder';
    }
    41%,60%{
      content: 'TechGeek';
    }
    61%,80%{
      content: 'Gamer';
    }
    81%,100%{
      content: 'Footballer';
    }
  }
  @keyframes typing {
    10%, 15%, 30% , 35%, 50%, 55%, 70%,75%,90%,95%{
      width:0;
    }
    5%,20%,25%,40%,60%,65%,80%,85%{
      width: calc(100% + 8px);
    }
  }

#download_btn{
    padding: 10px;
    background-color: transparent;
    color: yellow;
    cursor: pointer;
    opacity: 0.5;
    border: 0.5px solid yellow;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#download_btn:hover{
    box-shadow: 0px 0px 2px 2px yellow;
    border: none;
    opacity: 1;
}
#download_btn a{
    text-decoration: none;
    color: yellow;
}
#contact_btn{
    padding: 10px 15px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}


.sec1_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.my_img{
    width: 50%;
    height: 70%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px white;
}
.my_img img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    scale: 1;
}
.my_img img:hover{
    scale: 1.2;
}

.sec2{
    padding: 1rem 0rem 3rem 0rem;
    min-height: 14rem;
    display: flex;
    flex-direction: column;
}
.profilehead{
    padding: 0 0 20px 0;
    width: 100%;
    min-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
}
.profile_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.profile{
    width: 280px;
    height: 10rem;
    border-style: revert;
    border-radius: 10px;
    background-color: #02090c;
    background-image: linear-gradient(135deg, #02090c 0%, #363031 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s ease-in 0s;
    z-index: 2;
}
.profile a{
    font-size: 2em;
    margin-top: 5rem;
    position: absolute;
    text-decoration: none;
    z-index: 0;
    color: whitesmoke;
}
.profile a:hover{
    text-decoration: underline;
}
.profile:hover img{
    height: 0;
}
.sec3{
    text-align: center;
    margin-top: 40px;
    min-height: 20rem;
    border-radius: 10px;
}
.sec3 p{
    font-size: 20px;
}
.project_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
}
.project_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    max-height: 16rem;
}
.project_container::-webkit-scrollbar{
    display: none;
}
.projects_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 16rem;
}


.projects_box:hover{
    border: 1px solid white;
}
.projects_box img{
    position: relative;
    width: 100%;
    height: 160px;
}

.projects_box p{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

#sec3_3{
    display: flex;
    flex-direction: column;
    color: white;
}
.form_container{
    border-radius: 4px;
    width: 50%;
    background-color: rgb(22, 21, 21);
    display: flex;
    justify-content: center;
    margin:  0 auto;
    font-size: 1rem;
}
.form_container input{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.form_container .submit{
    padding: 5px 10px;
    background-color: rgb(238, 159, 13);
    border: none;
}
.view{
    animation: view linear;
    animation-timeline: view();
}
@keyframes view {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
 /* footer */
.footer{
    width: 90%;
    margin: auto;
    min-height: 8rem;
    background-color: rgb(18, 15, 15);
    border-radius: 4px;
}
.footsec1{
    display: flex;
    width: 100%;
    min-height: 7rem;
    border-bottom: 1px solid white;
}
.footbox{
    margin: 0 30px;
    font-size: 12px;
    width: 8rem;
    min-height: 5rem;
}
#fb1,#fb2,#fb3,#fb4{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footbox h3{
    margin: 5px 0 10px 0;
}
.footbox a{
    text-decoration: none;
    color: gray;
}
.footbox a:hover{
    color: white;
    scale: 1.2;
}
.footer p{
    text-align: center;
    font-size: 10px;
    margin: 2px 0 0 0;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.fb5{
    width: 14rem;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: gray;
}
.fb5 p{
    font-size: 12px;
    cursor: pointer;
}
.fb5 p:hover{
    color: white;
    text-decoration: underline;
}
#fb6 i{
    padding: 0 5px;
    font-size: 25px;
}
.tech_container{
    width: 100%;
    min-height: 16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tech_box{
    background-color: rgb(22, 21, 21);
    border-radius: 10px;
    width: 300px;
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 30px
}
.tech_box p{
    font-size: 2rem;
}
.tech_box p:nth-child(1){
    font-weight: bold;
}
.tech_detail{
    margin: 5px 0;
    width: 100%;
    min-height:16rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 60px;
    min-height: 3rem;
    padding: 5px 0px;
    gap: 1rem;
}

.tech:hover{
    color: green;
}
.tech img{
    width: 3rem;
    height: 3rem;
}





@media only screen and (max-width: 990px) {
    .sec1_left p{
        width: 100%;
       
    }
    .sec1_btn{
        width: 90%;
    }
    .animated_text{
        width: 100%;
        
    }
    .sec1_cont{
        display: flex;
        flex-direction: column-reverse;
    }
    .burger{
        display: block;
    }
    .navbar{
        justify-content: start;
    }
    .navleft{
        background-color: rgb(15, 13, 13);
        display: none;
        width: 20%;
        flex-direction: column;
        margin: 110px 0 0 0 ;
        z-index: 2;
        opacity: 0.8;
    }
    .navright{
        display: none;
    }
    
}

@media only screen and (max-width:810px){
    .project_container{
        flex-direction: column;
        align-items: center;
        min-height: 16rem;
    }
    .projects_box{
        width: 50%;
    }
    .profile_content{
        flex-direction: column;
    }
    .profile{   
        margin: auto;
        margin-top: 0.9rem;
    }
    .footsec1{
        flex-wrap: wrap;
    }
    .tech_container{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}
